.idea
.vscode
__pycache__
data
opends/models/
.pytest_cache
opends/logs
deb.env
.ipynb_checkpoints
experiments/*/runs
*.egg-info
.DS_Store
lightning_logs
experiments/*/conf/embeddings_validation*.work
.coverage

_*
*.log
*.code-workspace
.gitignore

