[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
jupyter = "*"
coverage = "*"
twine = "*"
setuptools = ">=59.5.0"
catboost = "*"
mkdocs = "*"
matplotlib = ">=3.1.1"
pandas = "*"
scikit-learn = ">=0.21.2"
pyspark = "==3.4.0"
tqdm = ">=4.32.2"
tensorboard = ">=2.1.0"
pyhocon = "*"
hydra-optuna-sweeper = '>=1.2.0'
duckdb = "*"
pyarrow = '>=7.0'
transformers = "*"
hydra-core = '>=1.1.2'
torch = "==1.12.1"
joblib = "~=1.4.2"
numpy = "~=1.24.4"
omegaconf = "~=2.3.0"
scipy = "~=1.10.1"
pymonad = "==2.4.0"
distributed = "==2023.5.0"
dask = "==2023.5.0"
spacy = "==3.7.4"
fedcore = "*"

[packages]
pytorch-lifestream = {editable = true, path = "."}

[requires]
python_version = "3.8"
